<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmql.zytj.mapper.StudentsMapper">
    <select id="queryAllStudent" resultType="com.zmql.zytj.bean.StudentsExcel">
        SELECT *
        from students
    </select>
    <select id="queryStuByName" resultType="com.zmql.zytj.bean.StudentsExcel" parameterType="com.zmql.zytj.bean.StudentsPage">
        SELECT * from students
        <where>
            <if test="name!=null and name!='' ">Name LIKE "%"#{name}"%"</if>

        </where>
        limit #{page},#{rows}
    </select>
    <select id="queryStuCount" resultType="java.lang.Integer" parameterType="com.zmql.zytj.bean.StudentsPage">
        SELECT count(*) FROM students
        <where>
            <if test="name!=null and name!='' ">Name LIKE "%"#{name}"%"</if>

        </where>
    </select>

    <insert id="addStu" parameterType="com.zmql.zytj.bean.StudentsExcel" keyProperty="id" useGeneratedKeys="true">

        insert into students(CardNo,Name,Sex,MembershipID,StuNo) values (#{cardNo},#{name},#{sex},#{membershipId},#{stuNo})

    </insert>
    <update id="updateStu" parameterType="com.zmql.zytj.bean.StudentsExcel" >

        update students set Name=#{name},Sex=#{sex} where ID=#{id}
    </update>
    <delete id="deleteStu" parameterType="java.lang.Integer">
        DELETE  FROM  students WHERE ID=#{id}
    </delete>


</mapper>